<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../static/users/register.css" th:href="@{/users/register.css}"/>
    <script
      src="https://ajaxzip3.github.io/ajaxzip3.js"
      charset="UTF-8"
    ></script>
    <title>管理者登録</title>
  </head>
  <body>
    <div class="wrapper">
      <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <h1>管理者登録</h1>

        <!-- register Form -->
        <div class="form">
        <form th:action="@{/admin/registerAdmin}" method="post" th:object="${registerAdminForm}">
        
        <!-- 名前 -->
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="name" >名前</label>
          <small class="control-label" th:errors="*{name}" style="color: red"></small>
         	<div class="col-sm-8">
          		<input
          			class="form-control"
            		type="text"
            		id="name"
            		th:field="*{name}"
          		/>
           	</div>
        </div>
		
		<!-- メールアドレス -->
		<div class="form-group row">
		  <label class="col-sm-4 col-form-label" for="name">メールアドレス</label>
		  <small class="control-label" th:errors="*{email}" style="color: red"></small>
          <div class="col-sm-8"> 
          	<input
          		class="form-control"
            	type="email"
            	id="login"
            	th:field="*{email}"
          	/>
          </div>
        </div>
        
        <!-- 郵便番号 -->
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="name">郵便番号</label>
          <small class="control-label" th:errors="*{zipcode}" style="color: red"></small>
          <div class="col-sm-8">
           	<input
           		class="form-control zipcode"
           		type="text"
           		id="zipcode"
           		size="10"
           		maxlength="8"
           		onKeyUp="AjaxZip3.zip2addr(this,'','addr11','addr11');"
           		th:field="*{zipcode}"
           	/>
          </div>
        </div>
          
        <!-- 住所 -->
        <div class="form-group row address">
          <label class="col-sm-4 col-form-label" for="name">住所</label>
          <small class="control-label" th:errors="*{address}" style="color: red"></small>
        	  <div class="col-sm-8">
          		<input
            		class="form-control"
           			type="text"
            		id="address"
            		size="60"
		            th:field="*{address}"
        		  />
          	　　</div>
        </div>
        
        <!-- 電話番号 -->
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="name">電話番号</label>
          <small class="control-label" th:errors="*{tel}" style="color: red"></small>
          	<div class="col-sm-8">
              <input
              	  class="form-control"
            	  type="text"
            	  id="tel"
			      th:field="*{tel}"
          	  />
          	</div>
        </div>
		  
		<!-- パスワード -->
		<div class="form-group row">
		  <label class="col-sm-4 col-form-label" for="name">パスワード</label>
		  <small class="control-label" th:errors="*{password}" style="color: red"></small>
          	<div class="col-sm-8">
              <input
           		  class="form-control"
           		  type="password"
           		  id="password"
            	  th:field="*{password}"
			  />
    	    </div>
         </div>

		 <!-- 確認パスワード -->
		 <div class="form-group row">
		 	<label class="col-sm-4 col-form-label" for="name">確認パスワード</label>
		 	<small class="control-label" th:errors="*{confirmPassword}" style="color: red"></small>
         	  <div class="col-sm-8">
          		<input
            		class="form-control"
            		type="password"
            		id="confirmPassword"
            		th:field="*{confirmPassword}"
	            />
      		  </div>
         </div>

         <br />
         <input
            type="submit"
            class="register-btn"
            value="登録"
         />
        </form>
        </div>

        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover fadeIn fifth" href="login_admin.html" th:href="@{/admin/toLogin}"
            ><small>ログインはこちら</small></a
          >
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="../../static/js/address.js"></script>
  </body>
</html>
