<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../static/users/change_info.css" />
    <title>物件登録</title>
</head>
<body>
     <!-- Navigation -->
    <div id="wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="http://placehold.it/150x50?text=Logo" alt="" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropdownMenuLink"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >各種設定</a
              >
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" th:href="">管理者設定</a>
                <a class="dropdown-item" th:href="">物件設定</a>
                <a class="dropdown-item" th:href="">振込先・会費設定</a>
                <a class="dropdown-item" th:href="">使い方ガイド</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ログアウト</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
    <div class="container">
        <main>
        <br>
          <h4><strong>物件情報登録</strong></h4>
          <br><br>
            <form>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label"
              >棟名</label
            >
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEmail3" />
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label"
              >郵便番号</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="inputEmail3"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label"
              >住所</label
            >
            <div class="col-sm-10">
              <input
                type="number"
                class="form-control"
                id="inputEmail3"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label"
              >備考</label
            >
            <div class="col-sm-10">
              <textarea class="form-control"></textarea>
            </div>
          </div>


          <br><br>
          <div class="btn-bottom text-center">
            <a href="../contracts/top.html">
              <input
                type="button"
                class=""
                value="トップ画面へ"
                style="background-color: #6c757d"
              />
            </a>
            <input type="submit" class="" value="登録" />
          </div>
          <br />
            </form>

    </div>
    </main>
    <footer id="sticky-footer" class="py-4 text-white-50">
        <div class="container text-center">
          <small>Copyright &copy; Terrace Office Co.,Ltd.</small>
        </div>
      </footer>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
</body>
</html>