nav {
  background-color: #56baed !important;
}

#sticky-footer {
  flex-shrink: none;
}

.py-4 {
  background-color: #56baed !important;
}

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

table tr,
th,
td {
  text-align: center;
}

input[type="button"],
input[type="submit"] {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type="reset"] {
  background-color: #6c757d;
  border: none;
  color: white;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

i:hover {
  cursor: pointer;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  cursor: pointer;
}

.my-edit {
  margin-bottom: 8px;
}
